In [ ]:
import pandas as pd
import numpy as np

In [16]:
# Initializes the dataset
df = pd.read_csv(r"C:\Users\johnl\Downloads\Dengue-Dataset.csv")
df

,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm),Result
0,Male,21,14.8,48,47,3,2,5,48.00,96.0,29.60,30.8,11.6,112000,10.70,15.40,0.120,5100,positive
1,Male,30,15.0,47,49,6,3,5,49.80,96.1,28.40,29.5,11.8,96000,10.60,15.80,0.121,4500,positive
2,Male,51,16.3,41,48,4,5,5,50.10,93.5,31.30,32.7,13.5,184000,10.40,16.40,0.130,6000,negative
3,Female,26,12.3,46,49,7,5,5,44.00,90.0,30.50,30.5,14.7,167000,8.10,17.10,0.110,5000,negative
4,Male,35,16.1,45,46,4,4,5,50.53,91.0,29.12,29.2,15.2,155000,10.52,12.34,0.150,4600,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1518,Female,54,17.2,41,48,3,3,5,41.97,87.9,26.60,30.1,12.3,95231,9.67,17.66,0.102,6698,positive
1519,Male,23,16.8,47,40,4,3,4,38.00,99.2,32.60,33.6,14.7,167385,10.36,17.47,0.176,5694,positive
1520,Male,24,15.9,46,46,2,4,4,39.78,88.3,29.90,34.2,12.1,121163,8.94,13.95,0.136,5010,positive
1521,Male,49,13.2,41,49,2,3,5,51.07,92.0,32.80,32.0,15.0,201880,8.25,14.72,0.174,5767,positive
1522,Male,49,13.2,41,44,2,3,5,50.14,94.2,30.80,32.2,13.7,242748,9.39,16.07,0.140,6124,positive

In [17]:
# Starts the data cleaning process
df = df.drop_duplicates()
df = df.reset_index()
df

,index,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm),Result
0,0,Male,21,14.8,48,47,3,2,5,48.00,96.0,29.60,30.8,11.6,112000,10.70,15.40,0.120,5100,positive
1,1,Male,30,15.0,47,49,6,3,5,49.80,96.1,28.40,29.5,11.8,96000,10.60,15.80,0.121,4500,positive
2,2,Male,51,16.3,41,48,4,5,5,50.10,93.5,31.30,32.7,13.5,184000,10.40,16.40,0.130,6000,negative
3,3,Female,26,12.3,46,49,7,5,5,44.00,90.0,30.50,30.5,14.7,167000,8.10,17.10,0.110,5000,negative
4,4,Male,35,16.1,45,46,4,4,5,50.53,91.0,29.12,29.2,15.2,155000,10.52,12.34,0.150,4600,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506,1518,Female,54,17.2,41,48,3,3,5,41.97,87.9,26.60,30.1,12.3,95231,9.67,17.66,0.102,6698,positive
1507,1519,Male,23,16.8,47,40,4,3,4,38.00,99.2,32.60,33.6,14.7,167385,10.36,17.47,0.176,5694,positive
1508,1520,Male,24,15.9,46,46,2,4,4,39.78,88.3,29.90,34.2,12.1,121163,8.94,13.95,0.136,5010,positive
1509,1521,Male,49,13.2,41,49,2,3,5,51.07,92.0,32.80,32.0,15.0,201880,8.25,14.72,0.174,5767,positive
1510,1522,Male,49,13.2,41,44,2,3,5,50.14,94.2,30.80,32.2,13.7,242748,9.39,16.07,0.140,6124,positive

In [18]:
# Counts the entries
df.describe()

,index,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm)
count,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000,1511.000000
mean,764.228326,40.380543,14.511203,44.508273,43.578425,3.273329,3.082065,4.761085,45.187890,89.810788,29.898757,32.058437,13.626704,173326.062872,9.585275,15.314801,0.290684,5485.471211
std,439.998513,15.286972,1.629524,4.312130,4.946365,1.212003,0.997289,0.721822,3.578648,5.523165,2.030847,1.549673,1.431335,64859.144407,0.848695,1.409171,6.016601,1139.668604
min,0.000000,5.000000,10.400000,29.000000,29.000000,2.000000,1.000000,4.000000,36.300000,80.000000,22.900000,27.080000,11.000000,56000.000000,7.500000,8.400000,0.000020,3500.000000
25%,385.500000,28.000000,13.200000,42.000000,41.000000,2.000000,2.000000,4.000000,42.560000,85.100000,28.400000,30.900000,12.400000,115000.000000,8.900000,14.220000,0.107000,4627.500000
50%,767.000000,39.000000,14.600000,45.000000,44.000000,3.000000,3.000000,5.000000,45.550000,89.700000,30.000000,32.000000,13.800000,167409.000000,9.660000,15.270000,0.141000,5400.000000
75%,1144.500000,53.000000,15.800000,48.000000,47.000000,4.000000,4.000000,5.000000,47.865000,94.200000,31.400000,33.200000,14.700000,228703.500000,10.280000,16.415000,0.173500,6134.000000
max,1522.000000,78.000000,17.500000,60.000000,56.000000,9.000000,9.000000,7.000000,51.980000,100.000000,34.000000,35.000000,21.330000,299803.000000,11.235000,17.990000,234.000000,14900.000000

In [19]:
# Checks for null values in the entries
df.isnull().sum()

index                          0
Gender                         0
Age                            0
Hemoglobin(g/dl)               0
Neutrophils(%)                 0
Lymphocytes(%)                 0
Monocytes(%)                   0
Eosinophils(%)                 0
RBC                            0
HCT(%)                         0
MCV(fl)                        0
MCH(pg)                        0
MCHC(g/dl)                     0
RDW-CV(%)                      0
Total Platelet Count(/cumm)    0
MPV(fl)                        0
PDW(%)                         0
PCT(%)                         0
Total WBC count(/cumm)         0
Result                         0
dtype: int64

In [20]:
# Checks the column data type
df.dtypes

index                            int64
Gender                          object
Age                              int64
Hemoglobin(g/dl)               float64
Neutrophils(%)                   int64
Lymphocytes(%)                   int64
Monocytes(%)                     int64
Eosinophils(%)                   int64
RBC                              int64
HCT(%)                         float64
MCV(fl)                        float64
MCH(pg)                        float64
MCHC(g/dl)                     float64
RDW-CV(%)                      float64
Total Platelet Count(/cumm)      int64
MPV(fl)                        float64
PDW(%)                         float64
PCT(%)                         float64
Total WBC count(/cumm)           int64
Result                          object
dtype: object

In [21]:
# Saves the cleaned dataset as df1
df1 = df
df1

,index,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),MCV(fl),MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm),Result
0,0,Male,21,14.8,48,47,3,2,5,48.00,96.0,29.60,30.8,11.6,112000,10.70,15.40,0.120,5100,positive
1,1,Male,30,15.0,47,49,6,3,5,49.80,96.1,28.40,29.5,11.8,96000,10.60,15.80,0.121,4500,positive
2,2,Male,51,16.3,41,48,4,5,5,50.10,93.5,31.30,32.7,13.5,184000,10.40,16.40,0.130,6000,negative
3,3,Female,26,12.3,46,49,7,5,5,44.00,90.0,30.50,30.5,14.7,167000,8.10,17.10,0.110,5000,negative
4,4,Male,35,16.1,45,46,4,4,5,50.53,91.0,29.12,29.2,15.2,155000,10.52,12.34,0.150,4600,negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506,1518,Female,54,17.2,41,48,3,3,5,41.97,87.9,26.60,30.1,12.3,95231,9.67,17.66,0.102,6698,positive
1507,1519,Male,23,16.8,47,40,4,3,4,38.00,99.2,32.60,33.6,14.7,167385,10.36,17.47,0.176,5694,positive
1508,1520,Male,24,15.9,46,46,2,4,4,39.78,88.3,29.90,34.2,12.1,121163,8.94,13.95,0.136,5010,positive
1509,1521,Male,49,13.2,41,49,2,3,5,51.07,92.0,32.80,32.0,15.0,201880,8.25,14.72,0.174,5767,positive
1510,1522,Male,49,13.2,41,44,2,3,5,50.14,94.2,30.80,32.2,13.7,242748,9.39,16.07,0.140,6124,positive

In [22]:
# Adds a new column that checks if the person has a low platelet count
df["Low_Platelet"] = df["Total Platelet Count(/cumm)"] < 100000
df.describe

<bound method NDFrame.describe of       index  Gender  Age  Hemoglobin(g/dl)  Neutrophils(%)  Lymphocytes(%)  \
0         0    Male   21              14.8              48              47
1         1    Male   30              15.0              47              49
2         2    Male   51              16.3              41              48
3         3  Female   26              12.3              46              49
4         4    Male   35              16.1              45              46
...     ...     ...  ...               ...             ...             ...
1506   1518  Female   54              17.2              41              48
1507   1519    Male   23              16.8              47              40
1508   1520    Male   24              15.9              46              46
1509   1521    Male   49              13.2              41              49
1510   1522    Male   49              13.2              41              44

      Monocytes(%)  Eosinophils(%)  RBC  HCT(%)  ...  MCH(pg)  MCHC(g/dl)  \
0                3               2    5   48.00  ...    29.60        30.8
1                6               3    5   49.80  ...    28.40        29.5
2                4               5    5   50.10  ...    31.30        32.7
3                7               5    5   44.00  ...    30.50        30.5
4                4               4    5   50.53  ...    29.12        29.2
...            ...             ...  ...     ...  ...      ...         ...
1506             3               3    5   41.97  ...    26.60        30.1
1507             4               3    4   38.00  ...    32.60        33.6
1508             2               4    4   39.78  ...    29.90        34.2
1509             2               3    5   51.07  ...    32.80        32.0
1510             2               3    5   50.14  ...    30.80        32.2

      RDW-CV(%)  Total Platelet Count(/cumm)  MPV(fl)  PDW(%)  PCT(%)  \
0          11.6                       112000    10.70   15.40   0.120
1          11.8                        96000    10.60   15.80   0.121
2          13.5                       184000    10.40   16.40   0.130
3          14.7                       167000     8.10   17.10   0.110
4          15.2                       155000    10.52   12.34   0.150
...         ...                          ...      ...     ...     ...
1506       12.3                        95231     9.67   17.66   0.102
1507       14.7                       167385    10.36   17.47   0.176
1508       12.1                       121163     8.94   13.95   0.136
1509       15.0                       201880     8.25   14.72   0.174
1510       13.7                       242748     9.39   16.07   0.140

      Total WBC count(/cumm)    Result Low_Platelet
0                       5100  positive        False
1                       4500  positive         True
2                       6000  negative        False
3                       5000  negative        False
4                       4600  negative        False
...                      ...       ...          ...
1506                    6698  positive         True
1507                    5694  positive        False
1508                    5010  positive        False
1509                    5767  positive        False
1510                    6124  positive        False

[1511 rows x 21 columns]>

In [23]:
# Saves the cleaned dataset with the low platelet column as df2
df2 = df
df2

,index,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),...,MCH(pg),MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm),Result,Low_Platelet
0,0,Male,21,14.8,48,47,3,2,5,48.00,...,29.60,30.8,11.6,112000,10.70,15.40,0.120,5100,positive,False
1,1,Male,30,15.0,47,49,6,3,5,49.80,...,28.40,29.5,11.8,96000,10.60,15.80,0.121,4500,positive,True
2,2,Male,51,16.3,41,48,4,5,5,50.10,...,31.30,32.7,13.5,184000,10.40,16.40,0.130,6000,negative,False
3,3,Female,26,12.3,46,49,7,5,5,44.00,...,30.50,30.5,14.7,167000,8.10,17.10,0.110,5000,negative,False
4,4,Male,35,16.1,45,46,4,4,5,50.53,...,29.12,29.2,15.2,155000,10.52,12.34,0.150,4600,negative,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506,1518,Female,54,17.2,41,48,3,3,5,41.97,...,26.60,30.1,12.3,95231,9.67,17.66,0.102,6698,positive,True
1507,1519,Male,23,16.8,47,40,4,3,4,38.00,...,32.60,33.6,14.7,167385,10.36,17.47,0.176,5694,positive,False
1508,1520,Male,24,15.9,46,46,2,4,4,39.78,...,29.90,34.2,12.1,121163,8.94,13.95,0.136,5010,positive,False
1509,1521,Male,49,13.2,41,49,2,3,5,51.07,...,32.80,32.0,15.0,201880,8.25,14.72,0.174,5767,positive,False
1510,1522,Male,49,13.2,41,44,2,3,5,50.14,...,30.80,32.2,13.7,242748,9.39,16.07,0.140,6124,positive,False

In [24]:
# Adds a new column that checks for a person's Neutrophil-to-Lymphocyte Ratio
df["NLR"] = df["Neutrophils(%)"] / df["Lymphocytes(%)"].replace(0, np.nan)
df.describe

<bound method NDFrame.describe of       index  Gender  Age  Hemoglobin(g/dl)  Neutrophils(%)  Lymphocytes(%)  \
0         0    Male   21              14.8              48              47
1         1    Male   30              15.0              47              49
2         2    Male   51              16.3              41              48
3         3  Female   26              12.3              46              49
4         4    Male   35              16.1              45              46
...     ...     ...  ...               ...             ...             ...
1506   1518  Female   54              17.2              41              48
1507   1519    Male   23              16.8              47              40
1508   1520    Male   24              15.9              46              46
1509   1521    Male   49              13.2              41              49
1510   1522    Male   49              13.2              41              44

      Monocytes(%)  Eosinophils(%)  RBC  HCT(%)  ...  MCHC(g/dl)  RDW-CV(%)  \
0                3               2    5   48.00  ...        30.8       11.6
1                6               3    5   49.80  ...        29.5       11.8
2                4               5    5   50.10  ...        32.7       13.5
3                7               5    5   44.00  ...        30.5       14.7
4                4               4    5   50.53  ...        29.2       15.2
...            ...             ...  ...     ...  ...         ...        ...
1506             3               3    5   41.97  ...        30.1       12.3
1507             4               3    4   38.00  ...        33.6       14.7
1508             2               4    4   39.78  ...        34.2       12.1
1509             2               3    5   51.07  ...        32.0       15.0
1510             2               3    5   50.14  ...        32.2       13.7

      Total Platelet Count(/cumm)  MPV(fl)  PDW(%)  PCT(%)  \
0                          112000    10.70   15.40   0.120
1                           96000    10.60   15.80   0.121
2                          184000    10.40   16.40   0.130
3                          167000     8.10   17.10   0.110
4                          155000    10.52   12.34   0.150
...                           ...      ...     ...     ...
1506                        95231     9.67   17.66   0.102
1507                       167385    10.36   17.47   0.176
1508                       121163     8.94   13.95   0.136
1509                       201880     8.25   14.72   0.174
1510                       242748     9.39   16.07   0.140

      Total WBC count(/cumm)    Result  Low_Platelet       NLR
0                       5100  positive         False  1.021277
1                       4500  positive          True  0.959184
2                       6000  negative         False  0.854167
3                       5000  negative         False  0.938776
4                       4600  negative         False  0.978261
...                      ...       ...           ...       ...
1506                    6698  positive          True  0.854167
1507                    5694  positive         False  1.175000
1508                    5010  positive         False  1.000000
1509                    5767  positive         False  0.836735
1510                    6124  positive         False  0.931818

[1511 rows x 22 columns]>

In [25]:
# Adds a new column that checks for a person's Platelet-to-Lymphocyte Ratio
df["PLR"] = df["Total Platelet Count(/cumm)"] / df["Lymphocytes(%)"].replace(0, np.nan)
df.describe

<bound method NDFrame.describe of       index  Gender  Age  Hemoglobin(g/dl)  Neutrophils(%)  Lymphocytes(%)  \
0         0    Male   21              14.8              48              47
1         1    Male   30              15.0              47              49
2         2    Male   51              16.3              41              48
3         3  Female   26              12.3              46              49
4         4    Male   35              16.1              45              46
...     ...     ...  ...               ...             ...             ...
1506   1518  Female   54              17.2              41              48
1507   1519    Male   23              16.8              47              40
1508   1520    Male   24              15.9              46              46
1509   1521    Male   49              13.2              41              49
1510   1522    Male   49              13.2              41              44

      Monocytes(%)  Eosinophils(%)  RBC  HCT(%)  ...  RDW-CV(%)  \
0                3               2    5   48.00  ...       11.6
1                6               3    5   49.80  ...       11.8
2                4               5    5   50.10  ...       13.5
3                7               5    5   44.00  ...       14.7
4                4               4    5   50.53  ...       15.2
...            ...             ...  ...     ...  ...        ...
1506             3               3    5   41.97  ...       12.3
1507             4               3    4   38.00  ...       14.7
1508             2               4    4   39.78  ...       12.1
1509             2               3    5   51.07  ...       15.0
1510             2               3    5   50.14  ...       13.7

      Total Platelet Count(/cumm)  MPV(fl)  PDW(%)  PCT(%)  \
0                          112000    10.70   15.40   0.120
1                           96000    10.60   15.80   0.121
2                          184000    10.40   16.40   0.130
3                          167000     8.10   17.10   0.110
4                          155000    10.52   12.34   0.150
...                           ...      ...     ...     ...
1506                        95231     9.67   17.66   0.102
1507                       167385    10.36   17.47   0.176
1508                       121163     8.94   13.95   0.136
1509                       201880     8.25   14.72   0.174
1510                       242748     9.39   16.07   0.140

      Total WBC count(/cumm)    Result  Low_Platelet       NLR          PLR
0                       5100  positive         False  1.021277  2382.978723
1                       4500  positive          True  0.959184  1959.183673
2                       6000  negative         False  0.854167  3833.333333
3                       5000  negative         False  0.938776  3408.163265
4                       4600  negative         False  0.978261  3369.565217
...                      ...       ...           ...       ...          ...
1506                    6698  positive          True  0.854167  1983.979167
1507                    5694  positive         False  1.175000  4184.625000
1508                    5010  positive         False  1.000000  2633.978261
1509                    5767  positive         False  0.836735  4120.000000
1510                    6124  positive         False  0.931818  5517.000000

[1511 rows x 23 columns]>

In [26]:
# Saves the cleaned dataset with the NLR and PLR column as df3
df = df.drop(columns=["Low_Platelet"], errors="ignore")
df3 = df.copy()
df3

,index,Gender,Age,Hemoglobin(g/dl),Neutrophils(%),Lymphocytes(%),Monocytes(%),Eosinophils(%),RBC,HCT(%),...,MCHC(g/dl),RDW-CV(%),Total Platelet Count(/cumm),MPV(fl),PDW(%),PCT(%),Total WBC count(/cumm),Result,NLR,PLR
0,0,Male,21,14.8,48,47,3,2,5,48.00,...,30.8,11.6,112000,10.70,15.40,0.120,5100,positive,1.021277,2382.978723
1,1,Male,30,15.0,47,49,6,3,5,49.80,...,29.5,11.8,96000,10.60,15.80,0.121,4500,positive,0.959184,1959.183673
2,2,Male,51,16.3,41,48,4,5,5,50.10,...,32.7,13.5,184000,10.40,16.40,0.130,6000,negative,0.854167,3833.333333
3,3,Female,26,12.3,46,49,7,5,5,44.00,...,30.5,14.7,167000,8.10,17.10,0.110,5000,negative,0.938776,3408.163265
4,4,Male,35,16.1,45,46,4,4,5,50.53,...,29.2,15.2,155000,10.52,12.34,0.150,4600,negative,0.978261,3369.565217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1506,1518,Female,54,17.2,41,48,3,3,5,41.97,...,30.1,12.3,95231,9.67,17.66,0.102,6698,positive,0.854167,1983.979167
1507,1519,Male,23,16.8,47,40,4,3,4,38.00,...,33.6,14.7,167385,10.36,17.47,0.176,5694,positive,1.175000,4184.625000
1508,1520,Male,24,15.9,46,46,2,4,4,39.78,...,34.2,12.1,121163,8.94,13.95,0.136,5010,positive,1.000000,2633.978261
1509,1521,Male,49,13.2,41,49,2,3,5,51.07,...,32.0,15.0,201880,8.25,14.72,0.174,5767,positive,0.836735,4120.000000
1510,1522,Male,49,13.2,41,44,2,3,5,50.14,...,32.2,13.7,242748,9.39,16.07,0.140,6124,positive,0.931818,5517.000000

In [28]:
# Build and export baseline/ratio/threshold per spec without mutating source DataFrames
import os
import pandas as pd

# Source DataFrames expected from previous cells:
# df1: baseline cleaned (no Low_Platelet, no NLR, no PLR)
# df2: has Low_Platelet flag added
# df3: has NLR and PLR added; Low_Platelet removed

# Validate presence
missing = [name for name in ("df1", "df2", "df3") if name not in globals() or not isinstance(globals()[name], pd.DataFrame)]
if missing:
    raise RuntimeError(f"Missing required DataFrames: {', '.join(missing)}. Re-run earlier cells.")

# Columns to control
ratio_cols = ["NLR", "PLR"]
low_platelet_col = "Low_Platelet"

# Construct outputs per spec
baseline_df = globals()["df1"].copy()
baseline_df = baseline_df.drop(columns=[low_platelet_col] + ratio_cols, errors="ignore")

ratio_df = globals()["df3"].copy()
ratio_df = ratio_df.drop(columns=[low_platelet_col], errors="ignore")
# Ensure NLR/PLR exist; if not, create from df
if not set(ratio_cols).issubset(ratio_df.columns):
    if "df" in globals():
        tmp = globals()["df"].copy()
        for col in ratio_cols:
            if col in tmp.columns and col not in ratio_df.columns:
                ratio_df[col] = tmp[col]

threshold_df = globals()["df2"].copy()
threshold_df = threshold_df.drop(columns=ratio_cols, errors="ignore")
# Ensure Low_Platelet exists; if missing, recompute
if low_platelet_col not in threshold_df.columns and "df" in globals():
    tmp = globals()["df"].copy()
    if low_platelet_col in tmp.columns:
        threshold_df[low_platelet_col] = tmp[low_platelet_col]

# Export paths
save_dir = r"c:\\Users\\johnl\\Downloads"
os.makedirs(save_dir, exist_ok=True)

out_files = {
    "baseline": os.path.join(save_dir, "baseline.csv"),
    "ratio": os.path.join(save_dir, "ratio.csv"),
    "threshold": os.path.join(save_dir, "threshold.csv"),
}

baseline_df.to_csv(out_files["baseline"], index=False)
ratio_df.to_csv(out_files["ratio"], index=False)
threshold_df.to_csv(out_files["threshold"], index=False)

print("Exported:")
print(f" - baseline: {out_files['baseline']} (shape={baseline_df.shape})")
print(f" - ratio: {out_files['ratio']} (shape={ratio_df.shape})")
print(f" - threshold: {out_files['threshold']} (shape={threshold_df.shape})")

Exported:
 - baseline: c:\\Users\\johnl\\Downloads\baseline.csv (shape=(1511, 20))
 - ratio: c:\\Users\\johnl\\Downloads\ratio.csv (shape=(1511, 22))
 - threshold: c:\\Users\\johnl\\Downloads\threshold.csv (shape=(1511, 21))